body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

#network {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    resize: both;
    z-index: 1;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    z-index: 2;
}

.frame {
    z-index: 3;
}

#jsonTest {
        height: 200px;
        width: 600px;
        background-color: lightgray;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}