/*
A kereős felület kinézete.

*/
* {
  font-family: 'Ubuntu';
  text-align: center;
  margin: 0; }
/* Fő beállítás ami az egész lezelő felületre igaz lesz */
#content {
  margin-top: 15vh; }
/*A megjelenített felület a teljes kiejlző 15 százalékát fedje le ami dinamikusan változik.*/
#title {
  font-size: 5vh; }
/*A cím 5 százalékot foglaljon.*/
h4 {
  margin: 1vh; }
/*Search mező 1 vh margóval*/
select {
  height: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh; }

input {
  text-decoration: none;
  height: 3vh;
  vertical-align: middle;
  margin: 0; }

#icon {
  background-color: black;
  color: white;
  vertical-align: middle;
  font-size: 3.6vh;
  cursor: pointer;
  margin-left: 0; }

.circle {
  border-radius: 1vh;
  background-color: black;
  display: inline-block;
  padding-left: 1vh;
  padding-right: 1vh; }

.middle {
  height: 6vh;
  line-height: 6vh; }

h5 {
  font-size: 1.5vh;
  color: white;
  display: inline-block;
  background-color: #679ef7;
  border-radius: 1vh;
  padding-left: 1vh;
  padding-right: 1vh; }

h6 {
  margin-top: 5vh;
  font-size: 3vh; }

#table {
  background-color: grey;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh; }

tr {
  border: solid white 0.3vh;
  height: 3vh; }

td {
  color: white;
  background-color: #679ef7; }

th {
  background-color: yellow; }

.container {
  vertical-align: middle;
  height: 2vh;
  display: inline-block; }

img {
  height: 20vh; }

#game {
  width: 1920px;
  height: 1080px; }
