<div id="content">
    <img src="logo.png">
    <h3 id="title">RESearch</h3>
    <h4>Beta version 1.0</h4>

    <h4>Search</h4>
    <div class="middle">
        <div class="circle">
            <input type="text" placeholder="search..." id="input1"><a id="search1"><i class="material-icons" id="icon">search</i></a>
        </div>
        <div class="circle">
            <input id="input11" type="hidden" title="Show on the graph"><a id="search11">Show on graph</a></input>
        </div>
    </div>

    <h4>Search for Topic</h4>
    <div class="middle">
        <div class="circle">
            <input type="text" placeholder="search..." id="input2"><a id="search2"><i class="material-icons" id="icon">search</i></a>
        </div>
        <div class="circle">
            <input id="input22" type="hidden" title="Show on the graph"><a id="search22">Show on graph</a></input>
        </div>

    </div>

    <h4>Search for Author</h4>
    <div class="middle">
        <div class="circle">
            <input type="text" placeholder="search..." id="input3"><a id="search3"><i class="material-icons" id="icon">search</i></a>
        </div>
        <div class="circle">
            <input id="input33" type="hidden" title="Show on the graph"><a id="search33">Show on graph</a></input>
        </div>
    </div>

    <h4>Search for Title</h4>
    <div class="middle">
        <div class="circle">
            <input type="text" placeholder="search..." id="input4"><a id="search4"><i class="material-icons" id="icon">search</i></a>
        </div>
        <div class="circle">
            <input id="input44" type="hidden" title="Show on the graph"><a id="search44">Show on graph</a></input>
        </div>
    </div>
    <div>
        Adatbázis:
    </div>
</div>